# Python & Environment
venv/
__pycache__/
*.pyc
.env

# Secret Keys
.streamlit/secrets.toml

# Database & Vector Store
chroma_db/
users_db.json
current_session.json

# Flutter & Mac OS
.DS_Store
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies