fastapi
uvicorn
pydantic
streamlit
toml
supabase
chromadb>=0.4.0
langchain-community>=0.2.0
fastembed>=0.2.0
langchain
pinecone>=3.0.0
langchain-pinecone>=0.1.0
pinecone-client==3.2.2
langchain-google-genai
langchain-groq
langchain-openai
tavily-python
groq
python-dotenv
pypdf
fpdf
streamlit-cookies-controller
pandas
numpy
python-multipart